body{ 
	font-size: 13px;
	background: #f1f1f1;
}
.content {
	width: 1030px;
	margin: 20px auto;
	background: #fff;
	padding: 20px;
 	box-shadow: 0px 15px 10px -15px #111;
}
.foto{}
.foto img{width:50%;float:right;}
ul{list-style-type:none;}

.bio h3,
.jahrgangs h3,
.praktika h3,
.kenntnisse h3,
.sprache h3,
.references h3 {
	font-size: 18px;
	padding: 10px;
	border-left: 3px solid #ff6600;
	background: #eee;
}
.biografie ul{
	padding: 0 15px;
}
.jahrgangs ul,
.praktika ul,
.kenntnisse ul,
.sprache ul,
.references ul {
	border-bottom: 1px solid #eee;
	padding: 15px 10px;
	margin-bottom: 0;
}
.jahrgangs ul:last-child,
.praktika ul:last-child,
.kenntnisse ul:last-child,
.sprache ul:last-child,
.references ul:last-child {
	border-bottom: none;
}
.jahrgangs ul li,
.praktika ul li,
.kenntnisse ul li,
.sprache ul li,
.references ul li {
	line-height: 21px;
}
.footer {
	padding: 20px;
	text-align: center;
	color: #666;
}